/*styles.css*/

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #1e40af;
}

table {
  /* width: auto; */
  width: 60vw;
  max-width: 100%;
  border-collapse: collapse;
  background-color: white;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid black;
}

th, td {
  border: 1px solid #8e8989;
  padding: 10px;
  text-align: left;
  word-wrap: break-word;
}

th {
  background-color: #e2e8f0;
  font-weight: 600;
}

input[type="number"] {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #1d4ed8;
}

.button-container {
  text-align: center;
  margin-top: 20px; /* optional spacing */
} 

caption{
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: larger;
  color:#1d4ed8;
}


@media (max-width: 600px) {
  table {
    width: 95vw;
    font-size: 14px;
  }

  th, td {
    padding: 8px;
  }

  h2 {
    font-size: 20px;
  }

  button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }

  .container {
    margin: 1rem;
    padding: 1rem;
  }

  input[type="number"] {
    font-size: 14px;
  }
}
